@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3895d3;
  --secondary: #fc9700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3895d3;
    --secondary: #fc9700;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: jost, Arial, Helvetica, sans-serif;
}

/* .signin {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #171717;
} */

/* .signin__box {
  display: flex;
  align-self: center;
  width: 60%;
  height: 80vh;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
} */

.scapesvgBg {
  @apply absolute w-full top-0 lg:top-[-40%] left-0;
}

.svgBg {
  @apply absolute flex w-full scale-[4] lg:scale-[1] origin-[0%_100%] bottom-0 left-0;
}

.button {
  @apply rounded-[4px] text-white flex justify-center cursor-pointer;
}

.button__inline {
  @apply px-3 py-1 items-center font-bold hover:bg-[var(--secondary)];
}

.button__full {
  @apply p-2 w-full my-2;
}

.button__search {
  @apply flex flex-col justify-end cursor-pointer;
}

.deskMenu {
  @apply hidden lg:flex;
}

.dropdown {
  @apply relative flex flex-col;
}

.dropdown__button {
  @apply relative border border-zinc-300 p-1 flex justify-between items-center gap-12 cursor-pointer;
}

.dropdown__collapse {
  @apply absolute z-[15] w-full bg-white top-[2em] left-0;
}

.dropdown__collapse__items {
  @apply flex w-full px-2 py-1 justify-start bg-white hover:bg-zinc-200;
}

.gradientBg {
  @apply absolute top-0 left-0 w-full h-[100vh] opacity-40 bg-gradient-to-tl from-blue-700 to-red-400;
}

.hamburger {
  @apply flex lg:hidden h-[2px] self-start bg-[var(--secondary)];
}

.header {
  @apply flex relative py-4 text-[14px] justify-between lg:justify-start w-full;
}

.home {
  @apply relative flex flex-col w-full;
}

.input {
  @apply flex items-center w-full p-1 rounded-[4px] outline-[1px] outline-zinc-400;
}

.modal {
  @apply fixed inset-0 bg-black flex justify-start p-4 z-50 overflow-y-auto;
}

.modal__container {
  @apply relative bg-white rounded-xl shadow-2xl p-6 sm:p-8 w-[80%] md:w-[40%] opacity-100 overflow-y-auto max-h-[30vh];
}

.modal__content {
  @apply flex flex-col w-full text-black text-[1.2em] px-3 pt-[2em] gap-4;
}

.search__select{
  @apply flex flex-col lg:flex-row mb-[4em] border border-zinc-400 rounded-[6px] w-full
}

.search__select__city{
  @apply flex w-full lg:w-[50%];
}

.search__select__guide{
  @apply flex w-full lg:w-[25%];
}

.search__select__item{
  @apply relative flex flex-col p-4 border-r border-b-1 lg:border-b-0 border-zinc-400 w-full cursor-pointer;
}

.search__select__item__dropdown{
  @apply absolute z-[10] top-[110%] h-[200px] rounded shadow-lg shadow-gray-400 flex flex-col p-2 border border-zinc-400 bg-white cursor-pointer;
}

.search__select__item__input{
  @apply flex p-1 gap-1 rounded border border-zinc-400
}

.search__select__item__btn{
  @apply flex justify-between hover:bg-zinc-200 p-1;
}

.search__select__item__guide{
  @apply flex flex-col gap-2 overflow-y-auto py-2 ;
}

.search__select__item__popular__cities{
  @apply flex flex-wrap justify-between;
}
.search__select__item__popular__cities__btn{
  @apply w-1/4 lg:w-1/5 px-2 hover:bg-zinc-300 py-1 m-1;
}

.search__select__passenger{
  @apply flex flex-wrap justify-between mt-4 w-full;
}

.search__select__passenger__item{
  @apply border border-zinc-300 text-xl p-2 w-1/5 hover:bg-[var(--primary)] cursor-pointer;
}

.search__trip {
  @apply relative flex flex-col gap-4 mt-12 w-full;
}

.search__trip__btn{
  @apply absolute cursor-pointer bg-[var(--secondary)] hover:bg-[var(--primary)] text-white text-3xl font-bold rounded-[10px] p-2 px-[4px] w-[50%] lg:w-[20%] top-[95%] left-[25%] lg:left-[40%];
}

.search__trip__input {
  @apply flex items-center gap-1;
}

.search__trip__menu {
  @apply flex justify-between w-full;
}

.search__trip__select {
  @apply flex gap-4 items-center w-full md:w-[50%];
}

.section__main {
  @apply relative flex flex-col text-[14px] pb-[4em] w-full p-4 bg-[url(/images/marine.jpg)] bg-cover bg-no-repeat;
}

.section__main__search {
  @apply relative p-4 w-full mt-[20%] md:mt-[12%] lg:mt-[8%] text-black rounded-[6px] bg-white;
}

.section__main__search__menu {
  @apply flex justify-center gap-[5em] shadow-lg shadow-gray-400/30 px-4 py-3 bg-white absolute top-[-4em] left-0 md:left-[20%] lg:left-[30%] w-[100%] md:w-[60%] lg:w-[40%] rounded-[6px];
}

.separator {
  @apply items-center justify-center rotate-90 text-white origin-[50_50];
}

.signin {
  @apply relative flex justify-center text-black m-[auto] w-full h-[100vh] bg-[#171717] overflow-hidden;
}

.signin__box {
  @apply relative flex self-center w-[90%] md:w-[60%] h-[auto] lg:h-[80vh] py-[2em] lg:py-0 bg-white rounded-[8px] overflow-hidden;
}

.signin__box__slide {
  @apply w-full h-full hidden lg:flex bg-zinc-600 overflow-hidden;
}

.signin__box__info {
  @apply flex items-center w-full h-full;
}

.signin__box__info__guide {
  @apply flex flex-col gap-2 text-[16px] lg:text-[13px] justify-center self-center w-full px-[1em];
}

.slide__item {
  @apply relative w-full h-full overflow-hidden;
}

.slide__item__bg {
  @apply absolute top-0 left-0 w-full h-full;
}

.slide__item__text {
  @apply relative flex p-[3em] text-white justify-center items-center w-full h-full;
}

.slide__item__opacity {
  @apply absolute left-0 top-0 bg-black opacity-[0.3] w-full h-full;
}

.slide__item__text__outline {
  @apply flex flex-col gap-6 px-4 py-6 border-[1px] border-white rounded-[12px];
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #7c7d7d;
  opacity: 0.7;
  transition: all 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
  width: 25px;
  border-radius: 0.5rem;
}
